//Nav
$nav-background: #A0A0A0;
$nav-background-hover: #838383;
$nav-background-active: #5f5f5f;
$nav-text: #000000;
$nav-text-active: #ffffff;

//Main Content
$body-background: #eaddae;
$content-background: #00000029;