@use 'color';

/* Changes the background colour of the whole navigation bar */
.nav-bar {
	background-color: color.$nav-background;
	overflow: hidden;
	position: sticky;
	top: 0;

    /* removes dots from links in nav bar. Also pushes everyrthing to the left */
    li {
        float: left;
        list-style-type: none;
    }

    /* removes underline from links, and changes text colour to black */
    a {
        text-decoration: none;
        color: color.$nav-text;
        display: block;
        padding: 10px;
        margin: auto;
    }

}

/* Changes background colour of nav links when you hover cursor over them */
.nav-link:hover {
	background-color: color.$nav-background-hover;
}

/* changes background colour and text colour when you click on a nav link */
.nav-link:active {
	background-color: color.$nav-background-active;
	color: color.$nav-text-active;
}