/* Changes the background colour of the whole navigation bar */
.nav-bar {
	background-color: #A0A0A0;
	overflow: hidden;
	position: sticky;
	top: 0;

    /* removes dots from links in nav bar. Also pushes everyrthing to the left */
    li {
        float: left;
        list-style-type: none;
    }

    /* removes underline from links, and changes text colour to black */
    a {
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px;
        margin: auto;
    }

}

/* Changes background colour of nav links when you hover cursor over them */
.nav-link:hover {
	background-color: #838383;
}

/* changes background colour and text colour when you click on a nav link */
.nav-link:active {
	background-color: #5f5f5f;
	color: #ffffff;
}