html {
	background-color:#C8BE99
}

body {
	margin: 0px;
}

nav {
	height: 10vh;
	background-color: #BCBCBC;
	text-align: center;
	padding: 10px;
}

.wrapper {
	padding: 0px;
	background-color:#C8BE99;
}

.nav-link {
	text-decoration: none;
	color: black;
	padding: 10px;
	margin: auto;
}

.nav-link:hover {
	background-color: #A0A0A0;
}